on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure
        run: cmake . -B build

      - name: Build
        run: cmake --build build

      - name: Run tests
        working-directory: build
        run: ctest
